.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.checkbox-item {
    border: 3px solid #606060;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 220px;
    margin-top: 20px;
    padding: 20px;

    color: #000000;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}

.input:checked + .checkbox-item {
    border-color: #222222;
}

.checkbox-item svg {
    margin-bottom: 10px;
    width: 24px;

    fill: #606060;
}

.input:checked + .checkbox-item svg {
    fill: #000000;
}

:global(.dark) .input:checked + .checkbox-item {
    border-color: #ffffff;
}

:global(.dark) .checkbox-item {
    color: #ffffff;
}

:global(.dark) .checkbox-item svg {
    fill: #606060;
}

:global(.dark) .input:checked + .checkbox-item svg {
    fill: #ffffff;
}
