html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: #000000;
}

button {
  border: 0;
  padding: 0;

  background-color: transparent;
  cursor: pointer;
}

label {
  color: #606060;
  font-size: 14px;
}

input {
  border: 0;
  border-bottom: 1px solid #000000;
  margin-bottom: 10px;
  padding: 4px 4px 4px 0;
  width: 100%;

  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

@import "./variables.scss";
@import "./utilities.scss";
@import "./module.scss";
@import "./theme.scss";

@media (max-width: 411px) {
  .container {
    padding-bottom: 59px;
  }

  .snackbars-container {
    bottom: 44px;
  }
}

@media (min-width: 412px) {
  .snackbars-container {
    width: 50%;
  }
}

@media (min-width: 500px) {
  .react-calendar {
    margin: 0 auto;
  }
}

@media (min-width: 600px) {
  .modal {
    justify-content: center;
  }

  .modal-width {
    width: 80%;
  }

  .modal-button-close {
    top: -16px;
    right: -16px;
  }

  .react-calendar__tile {
    padding: 32px !important;
  }
}

@media (min-width: 867px) {
  .w-50-md {
    width: 50%;
  }

  .card {
    width: 30%;
  }

  .card--blocks {
    width: 50%;
  }
}
