.card {
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px 10px 15px;
  padding: 20px 15px;
}

.card-light-red {
  background-color: $light-red;
}

.card-light-orange {
  background-color: $light-orange;
}

.add-food-block-button {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-left: 10px;

  background-color: $dark-blue;
  color: #ffffff;
  font-size: 20px;
}

.ribbon {
  height: 20px;
  margin: 10px 15px;
}

.button {
  padding: 12px 20px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.button-red {
  background-color: $red;
}

.button-green {
  background-color: $green;
}

.button-pink {
  background-color: $pink;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}

.modal {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;

  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.modal-content {
  padding: 10px;
  width: 80%;

  background-color: #ffffff;
}

.previous-food-blocks-container {
  max-height: 500px;
  overflow-y: scroll;
}

.text-medium {
  font-size: 20px;
}
