.dark {
    background-color: #333333;
    color: #ffffff;
}

.dark .icon {
    fill: #ffffff;
}

.dark a {
    color: #ffffff;
}

.dark .card {
    background-color: #ffffff;
    color: #000000;
}

.dark .add-food-block-button {
    background-color: #87e8de;
    color: #000000;
}

.dark .food-block-form {
    background-color: #ffffff;
}


.dark .dark-label {
    display: inline-block;
    margin-bottom: 5px;

    color: #ffffff;
}